@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-principal: "Poppins", serif;

    --form-color: #D4D7E3;
    --form-out: #8897AD;
    --form-link: #1E4AE9;
    --form-butao: #162D3A;
    --form-sign: #F3F9FA;

    --cor-footer: #959CB6;
}

body {
    font-family: var(--fonte-principal);
    height: 100vh;
}

.container {
    margin: 0 2em;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.container__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__header {
    line-height: 2;
    margin-bottom: 2em;
}

.container__header h1 {
    font-size: 36px;
    font-weight: 600;
}

.container__header p {
    font-size: 20px;

}

.container__form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2em;
}

.container__form input {
    height: 30px;
    margin-bottom: 1em;
    background-color: var(--form-color);
    border: var(--form-out) 1px solid;
    border-radius: 1em;
    padding: 0 2em;
}

.container__form input::placeholder {
    color: var(--form-out);
}

.container__form a {
    text-align: end;
    color: var(--form-link);
    text-decoration: none;
}

.container__butao {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin-bottom: 3em;
}

.butao__sign {
    width: 100%;
    height: 34px;
    background-color: var(--form-butao);
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.butao__small {
    visibility: hidden;
    width: 0;
    height: 0;
}

.butao__sign-with {
    width: 100%;
    height: 34px;
    background-color: var(--form-color);
    border-radius: 0.5em;
    color: var(--form-out);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    transition: all 0.2s ease-in-out;
}

.butao__sign:hover, .butao__sign-with:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.butao__sign-with img {
    width: 24px;
    padding: 0.5em;
}

.container__butao p {
    width: 100%;
    text-align: center;
}

.butao__p-2 {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.container__butao p a{
    color: var(--form-link);
    text-decoration: none;
}

.container__butao a:hover {
    transition: slide 1s linear;
}

.container__footer {
    color: var(--form-out);
    font-size: 14px;
    margin-bottom: 1em;
}

.container__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.container__img img {
    height: 35em;
}

@media screen and (max-width: 920px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container__info {
        width: 100%;
        justify-content: space-evenly;
    }

    .container__header {
        width: 70%;
    }

    .container__img {
        width: 100%;
        height: 30%;
        margin: 2em;
    }

    .container__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2em;
    }
}

@media screen and (max-width: 520px) {
    .container__header {
        width: 100%;
        margin-bottom: 0.5em;
        line-height: 1.5;
    }

    .container__header h1 {
        font-size: 30px;
    }

    .container__form {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .container__form label {
        margin-bottom: 0.5em;
    }

    .container__butao {
        width: 100%;
    }

    .butao__large {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .butao__small {
        display: flex;
        visibility: visible;
        width:auto;
        height: auto;
    }

    .butao__sign {
        padding: 0.5em 0;
        width: 100%;
    }

    .butao__p-1 {
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    .butao__p-2 {
        visibility: visible;
        width: 100%;
        height: 100%;
    }

    .butao__sign-with {
        padding: 0.5em 1em;
        margin: 0 1em;
    }

    .container__img {
        height: 20%;
    }
} 